[Desktop Entry]
Version=1.0
Type=Application
Name=conkytoggle
Comment=
Exec=conkytoggle.sh
Icon=utilities-system-monitor
Terminal=false
StartupNotify=false
GenericName=
Categories=System
