#
# Openbox shutdown dialog
# This is example obshutdown rc file
# Copy this file to ~/.obshutdown.rc and customise
#

[general]
version =        0.1-rc1
verbose =        false
default_action = shutdown
composite =      true
theme =          foom
buttons =        cancel logout shutdown restart suspend hibernate

[actions]
logout =         openbox --exit
shutdown =       dbus-send --system --print-reply --dest="org.freedesktop.ConsoleKit" /org/freedesktop/ConsoleKit/Manager org.freedesktop.ConsoleKit.Manager.Stop
restart =        dbus-send --system --print-reply --dest="org.freedesktop.ConsoleKit" /org/freedesktop/ConsoleKit/Manager org.freedesktop.ConsoleKit.Manager.Restart
lock = 
switch = 
suspend =        dbus-send --system --print-reply --dest="org.freedesktop.UPower" /org/freedesktop/UPower org.freedesktop.UPower.Suspend
hibernate =      dbus-send --system --print-reply --dest="org.freedesktop.UPower" /org/freedesktop/UPower org.freedesktop.UPower.Hibernate
custom = 

[shortcuts]
logout =         l
shutdown =       s
restart =        r
lock = 
switch = 
suspend =        u
hibernate =      h
custom = 

[labels]
cancel =         CANCEL
logout =         LOGOUT
restart =        RESTART
shutdown =       SHUTDOWN
lock =           LOCK
switch =         SWITCH USER
suspend =        SUSPEND
hibernate =      HIBERNATE
