[Desktop Entry]
Type=Action
Tooltip=Activate module
Name=Activate module
Profiles=profile-zero;
Icon=application-x-xzm

[X-Action-Profile profile-zero]
MimeTypes=application/x-squashfs;
Exec=loadmodule -a %f
Name=Default profile
