[Desktop Entry]
Version=1.0
Type=Application
Name=Add new user
Comment=
Exec=addnewuser
Icon=user-home
Path=
Terminal=false
StartupNotify=false
Categories=System;Utility;X-XFCE;X-Xfce-Toplevel;
